.editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  background: transparent;
  cursor: move;

  &-size {
    position: absolute;
    top: 0;
    padding: 4px;
    font-size: 12px;
    color: #fff;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
  }

  .editor-canvas {
    width: 100%;
    height: 100%;
  }
}
