.editor-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  display: flex;
  align-items: center;
  background-color: #eee;
  justify-content: flex-end;
}

.editor-toolbar-item {
  width: auto;
  cursor: unset;
}
