.editor-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100% + 12px);
  display: flex;
  align-items: center;
  background-color: #eee;
  justify-content: flex-end;
  border-radius: 8px;
  overflow: hidden;
}

.editor-toolbar-item {
  width: auto;
  font-size: 12px;
  cursor: pointer;
  padding: 8px;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: #3370ff;
    background-color: #ccc;
  }
}
